.frame-inst {

  border-radius: 15px; /* Увеличил радиус скругления углов */
  box-shadow:
    0px 4px 15px rgba(0, 0, 0, 0.3), /* Добавил более глубокую тень */
    inset 0px 0px 20px rgba(255, 255, 255, 0.2); /* Внутренняя подсветка */
  overflow: hidden;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  position: relative;
}

.frame-inst:hover {
  transform: scale(1.01); /* Легкое увеличение при наведении */
  box-shadow:
    0px 8px 25px rgba(0, 0, 0, 0.4),
    inset 0px 0px 30px rgba(255, 255, 255, 0.3);
  transition: opacity 0.5s ease;
}

.frame-inst::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 15px;
  background: radial-gradient(
    circle at 50% 50%,
    rgba(255, 255, 255, 0.3) 0%,
    rgba(255, 255, 255, 0) 70%
  );
  pointer-events: none;
  opacity: 0;
  transition: opacity 0.5s ease;
}

.frame:hover::before {
  opacity: 1;
}